<!DOCTYPE html>

{% extends 'htdw/base.html' %}
{% load staticfiles %}

{% block body_block %}

  <h1 class="headings">Hannah Talulah Dixon Wright</h1>

  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <p>Hannah started performing at the early age of four for her begrudging sister and teddy bears.(the teddy bears loved it!).  Hannah found her place in the limelight, getting involved with every type of performance opportunity she could including  school musicals, local amateur dramatics , being a Cheerleading Coach to making her own short videos.
        She later discovered that making performance didn’t need to happen in a theatre space and from then on Hannah has been pushing her boundaries to discover new ways to create and perform.</p>
        <p>Before  embarking on her studies at the Royal Conservatoire of Scotland (and committing to the Scottish weather) Hannah decided to travel and see new parts of the world and what it had to offer. Travel is a key part of Hannahs artistic practise , she takes inspiration from exploring new cultures , meeting new people and throwing herself ( sometimes literally ) into new experiences.</p>
        <p>Hannah was one of only two people on her course  to take the opportunity to study abroad as part of her third year at RCS and take advantage of the Erasmus programme . This opportunity took Hannah to the Netherlands, where she studied at Fontys Academy, gaining lots of new perspectives on art and performance.</p>
        <p>Hannah gets  inspiration from  a wide range of sources across the performance spectrum including   Complicitié, Knee High, Punch Drunk and Bounce. Hannah’s most recent performances have been inspired by the work of Millie Brown, David LaChappelle, Marina Abramović, Boychild, Bjork, David Bowie and Cindy Sherman, Laurel Nakadate and Wafaa Bilal.</p>
        <p>As part of the final year of her degree  Hannah has recently been working in London as an intern for NOWNESS working on submissions and social media. This has given her a good insight into the commercial aspects of the artistic world.</p>
        <p>Hannah’s creative practice often varies in style, using projection and installation in recent works to create immersive site-specific work.
        Hannah  works with difficult topics that take inspiration from her own lived experience, trying to break the stigmas one taboo at a time.</p>
      </div>
      <div class="col-lg-4">
        <img id="about_image" src="{% static "images/about.jpg" %}" alt="">
      </div>
    </div>
  </div>









{% endblock %}
