<!DOCTYPE html>

{% extends 'htdw/base.html' %}
{% load staticfiles %}

{% block body_block %}
  <h1 class="headings">Artist statement</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <p class="artist-text">Art has the power to change.</p>
        <br>
        <p class="artist-text">Art has the power to challenge.</p>
        <br>
        <p class="artist-text">Art has the power to communicate.</p>
        <br>
        <p>I no longer believe we live in a world that was created for us. We have become obsessed by the celebrity culture , the constant news feeds and the reality  t.v shows that show nothing of what is real. We glamourise the unglamorous and we disrespect our planet.  Have we forgotten what it means to be human? Are we  becoming  overwhelmed by “ success " and striving for happiness through monetary value?</p>
        <p>As a queer woman living in todays society I often question my role in society,  I question the role I have been given by society and  how I am meant to act and behave. What does it mean to be a queer woman in society and how do  I change this role to represent me ?  In todays mass media world where females are still often portrayed as sexualised objects , where mental health is still a taboo topic , where queerness is still seen as the strange or weird , and the struggles we face on a daily basis are kept secret , how do I break these down?</p>
        <p>I question what my role is in this world  as a human and as an artist. I hold many labels for many people :  daughter , girlfriend , sister , friend , collaborator , stranger, woman , lover , hater , bar tender , performer ,director, in patient , out patient , dyslexic , facilitator.</p>
        <p>I challenge these on a daily basis. What would a world without labels look like and how can I dismantle  these through my work as both an artist and a facilitator? This is my challenge as a creative in this world. For me, I tackle this task by creating new worlds within performance space. Worlds that allow for discussion, that challenge the male gaze and  bring empowerment to me as a female.</p>
        <p>I would like the world to see me for the things I achieve and not the labels I wear. Through my research into memory , mythology, technology  and autobiography I create work that looks into what could take the focus away from the obvious and explore the otherness of situations. Placing ,provoking, questioning and challenging , both myself and the audience.</p>
        <p>  As both a facilitator and performance maker I aim to work with marginalised groups to highlight the unheard voices in our society, looking to break down barriers to create work that is easy to access and visually pleasing.  Social engagement is a key part of my practice and  I would like to work with  people where the stakes are real, using art as a tool to start difficult conversations , break the conventions , tackle taboos and help people reconnect to one another, to  society and  to art.</p>
        <p>As an emerging artist I use technology and performance to work with issues that are relevant to myself and wider society. I endeavour to look at these  from a different perspective that invites the audience to engage on many different levels.  My work can take many forms from one on one performance to installation pieces to movement workshops and film.</p>
        <p>Film is an ever growing part of my work and after spending several  weeks working with NOWNESS  the medium of film has become even more prominent in my work.  As one of the most accessible forms of media  I want to use film to tell the stories of those who are not heard.   If a photo speaks  a thousand words then what are  the possibilities  of film?</p>
      </div>
      <div class="col-lg-4">
        <img id="artist_image" src="{% static "images/face.png" %}" alt="">
      </div>
    </div>
  </div>




{% endblock %}
