<!DOCTYPE html>

{% extends 'htdw/base.html' %}
{% load staticfiles %}

{% block body_block %}
  <h1 class="headings">Artist statement</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <p class="artist-text">Art has the power to change.</p>
        <br>
        <p class="artist-text">Art has the power to challenge.</p>
        <br>
        <p class="artist-text">Art has the power to communicate.</p>
        <br>
        <p>I no longer believe we love in a world that was created for us,  we have become obsessed by the celebrity culture , the constant news feeds and reality  t.v shows that show nothing of what is real. Have we forgotten becoming  overwhelmed with success and striving for happiness though a monetary value?</p>
        <p>I question what my role is in this world as a human, an artist, and queer woman. I question not only my role in society and but the role I have been given to by society. What does it mean to be a queer woman in society and how do I change this role to better represent me.</p>
        <p>I hold many other labels for many people , daughter , girlfriend s, sister , friend , collaborator , stranger, woman , lover , hater , bar tender , performer ,director, in patient , out patient , dyslexic , facilitator.</p>
        <p>I carry these on a daily basis. What would a world without labels look like and how can I disintegrate these through my work as both an artist and a facilitator?</p>
        <p>This is my challenge as a creative in this world.</p>
        <p>Through my research into memory, mythology, technology, and autobiography I create work that looks into places, provokes, questions, and challenges, both myself and the audience.</p>
        <p>As a facilitator and performer I aim to work with marginalised groups, highlight unheard voices, break down barriers, and create work that is accessible and visually pleasing.  Through social engagement and working with people I would like to use art as a tool to start difficult conversations, break the conventions, tackle taboos, and help people reconnect to one another, to society, and to art.</p>
        <p>Film is an ever growing part of my work and I want to tell the stories of those who are not heard. If a photo speaks  a thousand words then what are  the possibilities  of film?</p>
        <p>I use technology and performance to invites the audience to engage with the work on many different levels.</p>
        <br>
        <p class="artist-text">I have the power to change.</p>
        <br>
        <p class="artist-text">I have the power to challenge.</p>
        <br>
        <p class="artist-text">I have the power to communicate.</p>
        <br>
      </div>
      <div class="col-lg-4">
        <img id="artist_image" src="{% static "images/face.png" %}" alt="">
      </div>
    </div>
  </div>
{% endblock %}
