<!DOCTYPE html>

{% extends 'htdw/base.html' %}
{% load staticfiles %}

{% block body_block %}
  <h1 class="headings">Artist statement</h1>

  <p>Art has the power to change.</p>
  <br>
  <p>Art has the power to challenge.</p>
  <br>
  <p>Art has the power to communicate.</p>
  <br>
  <p>Art has the power to communicate.</p>







As both a facilitator and performance maker I aim to work with marginalised groups to highlight the unheard voices in our society, looking to break down barriers to create work that is easy to access and visually pleasing.  Social engagement is a key part of my practice and  I would like to work with  people where the stakes are real, using art as a tool to start difficult conversations , break the conventions , tackle taboos and help people reconnect to one another, to  society and  to art.

As an emerging artist I use technology and performance to work with issues that are relevant to myself and wider society. I endeavour to look at these  from a different perspective that invites the audience to engage on many different levels.  My work can take many forms from one on one performance to installation pieces to movement workshops and film.

Film is an ever growing part of my work and after spending several  weeks working with NOWNESS  the medium of film has become even more prominent in my work.  As one of the most accessible forms of media  I want to use film to tell the stories of those who are not heard.   If a photo speaks  a thousand words then what are  the possibilities  of film?
{% endblock %}
