<!DOCTYPE html>

{% extends 'htdw/base.html' %}
{% load staticfiles %}

{% block body_block %}
  <h1 class="headings">CV</h1>

  <img class="cv_image" src="{% static "images/cv-page1.jpg" %}" alt="">
  <img class="cv_image" src="{% static "images/cv-page2.jpg" %}" alt="">
  <img class="cv_image" src="{% static "images/cv-page3.jpg" %}" alt="">
  <img class="cv_image" src="{% static "images/cv-page4.jpg" %}" alt="">
  <img class="cv_image" src="{% static "images/cv-page5.jpg" %}" alt="">
  <img class="cv_image" src="{% static "images/cv-page6.jpg" %}" alt="">
{% endblock %}
