<!DOCTYPE html>

{% extends 'htdw/base.html' %}
{% load staticfiles %}

{% block body_block %}
  <h1 class="headings">Film</h1>

  <ul class="work-list">
    <h6>2015</h6>
      <li>'Binge' : Short film - co creator and actor</li>
      <li>'Dystopia' : Creative collaboration / Short film</li>
      <li>'Where is life going?' : Performance and photography series</li>
    <br>
    <h6>2017</h6>
      <li>'Go Girl' : Creative collaboration / Phototrophic project</li>
      <li>'Seeking Salt' : Short film / Creator / Editor / Director</li>
    <br>
    <h6>2018</h6>
      <li>'Harm(less)' : Two part film / Created / Designer / Editor</li>
      <li>'Red Moon' : Short film / Creator/ Director</li>
      <li>'NOWNESS' : Short film / Creator / Director</li>
      <li>'Fear(less)' : work in progress, film exploring fear, sexuality and history to be shown by end of September</li>
{% endblock %}
