<!DOCTYPE html>

{% extends 'htdw/base.html' %}
{% load staticfiles %}

{% block body_block %}
  <h1 class="headings">Film</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 film_text">
        <ul class="work-list">
          <h6 class="headings"><strong>2015</strong></h6>
            <li>'Binge' : Short film - co creator and actor</li>
            <li>'Dystopia' : Creative collaboration / Short film</li>
            <li>'Where is life going?' : Performance and photography series</li>
          <br>
          <h6 class="headings"><strong>2017</strong></h6>
            <li>'Go Girl' : Creative collaboration / Phototrophic project</li>
            <li>'Seeking Salt' : Short film / Creator / Editor / Director</li>
          <br>
          <h6 class="headings"><strong>2018</strong></h6>
            <li>'Harm(less)' : Two part film / Created / Designer / Editor</li>
            <li>'Red Moon' : Short film / Creator/ Director</li>
            <li>'NOWNESS' : Short film / Creator / Director</li>
            <li>'Fear(less)' : work in progress, film exploring fear, sexuality and history to be shown by end of September</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <img class="film_image" src="{% static "images/camera.jpg" %}" alt="">
        <img class="film_image" src="{% static "images/group.jpg" %}" alt="">
        <img class="film_image" src="{% static "images/shadow.png" %}" alt="">
      </div>
    </div>
  </div>

{% endblock %}
