<!DOCTYPE html>

{% extends 'htdw/base.html' %}
{% load staticfiles %}

{% block body_block %}
  <h1 class="headings">Social Practice</h1>
  <div class="container">
  <div class="row">
  <div class="social-text col-lg-8">
    <h2 class="headings">Arts in Education</h2>
    <p>I was lucky enough  to be  given the opportunity to work with the Primary year 7 students in Oakwood Primary School, in Easterhouse, in the autumn of 2015. I worked alongside my peers to create a contemporary performance piece called ‘Robotics Incorporated’ which we developed over our 6 week residency. During our time at Oakwood we performed our collaborative piece to a number of students and parents. The piece was set in a post- apocalyptic world, where technology has failed and, as the saviours, we were introducing nature back into the world. </p>
    <p>The project aimed to instil confidence in the student, providing a new way of learning in an educational context. It proved to be a powerful tool, the students really engaged with the process and we saw a huge change in their behaviour and confidence. By introducing dance, movement and voice into the classroom we where able to create a diverse range of practices that catered for the different learning styles that were present in the class rooms. It was joy to work in Oakwood everyday the students would bring a new energy to the classroom.</p>
    <br>
    <p>I also had the Privilege of being welcomed into Isobel Mair School in in Newton Means back in 2015 to facilitate a small group of students. Isobel Mair is a non-denominational co-education special school for pupils from ages 5 to 18 years who have additional support needs arising from complex learning difficulties.</p>
    <p>We created a performance that was about celebrating ourselves, creating a party atmosphere. We created movement, text and participatory moments that aimed to highlight how unique we all are. The participants were amazing and threw themselves into the performance. The aim of this process was to try and install a new physical way of learning, a way of exploring topics of self and looking to grow not only the groups confidence but our also our own. The performance was called ‘What makes me, me‘ and was an engaging and enjoyable piece of work.</p>
    <br>
    <h2 class="headings">Arts in medical context</h2>
    <p>In 2016 I was involved in a project that was looking at palliative care for terminally ill patients at the Prince of Wales Hospice in Glasgow. It was a 6 week residency where we would go into the hospice once a week creating activities that had to be related and adaptable to the vast range of abilities in our group, from eco sculpture to blind-folded portraits. The residency wasn’t about their illness or treatment, it was about care and opening spaces where conversations could be had and we could all share each others time and presence.</p>
    <br>
    <h2 class="headings">Prisons</h2>
    <p>Early this year My self and Charneh Watson ran a week long residency in HMP Shotts, maximin security prison which cares for over 500 inmates. We facilitated workshops during our residency that culminated in a final show ‘Over the moon’. The show was shown to an invited audience of Peers, friends and family.
    We use devising techniques to create an original show that showcased every ones individuals talents. Using movement, text, voice, song and physical theatre to explore ideas surrounding the university, connectivity, time and humanity.</p>
    <p>Throughout out the week the participants developed their communication skills becoming collaborative and truly working as a team.</p>
  </div>
  <div class="social-images col-lg-4">
    <img class="social-image" src="{% static "images/balloon.jpg" %}" alt="">
    <img class="social-image" src="{% static "images/drawings.jpg" %}" alt="">
    <img class="social-image" src="{% static "images/flowers.jpg" %}" alt="">
  </div>
</div>
</div>

{% endblock %}
