main {
  padding: 50px 20px 20px 20px;
  background-color: #EBEBEB;
}
h1 {
  text-align: center;
  padding-bottom: 25px;
}
h6 {
  font-family: 'Josefin Slab', serif;
  text-align: center;
}
footer {
  padding: 10px;
  font-family: 'Josefin Slab', serif;
  background-color: #EBEBEB;
  font-size: 15px;
}
p {
  font-family: 'Poiret One', cursive;
}
li {
  font-family: 'Poiret One', cursive;
}
.headings {
  font-family: 'Josefin Slab', serif;
  color: #3bd6c6;
}
.navbar {
  background-color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}
.nav-item {
  color: white;
}
.nav-item:hover {
  color: #3bd6c6;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #3bd6c6;
}
#about_image {
  position: relative;
  top: 100px;
  width: 35vw;
  height: auto;
}
#artist_image {
  position: relative;
  top: 500px;
  width: 40vw;
  height: auto;
}
#contact_image {
  width: 40vw;
  height: auto;
}
.work_image {
  width: 45vw;
  height: auto;
  padding: 50px;
}


.social-image {
  width: 350px;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.social-images {
  float: right;
  padding-top: 150px;
}
.artist-text {
  text-align: center;
}
.fa {
  color: black;
  font-size: 60px;
  height: auto;
  padding: 20px;
}
.icons {
    color: black;
    font-size: 60px;
    height: auto;
    padding: 20px;
}
.fa:hover {
  color: #3bd6c6;
}
.work-list {
  list-style-type: none;
  text-align: center;
}
.cv_image {
  width: 100vw;
  height: auto;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: auto;
}
.harmless_image {
  width: 400px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.harmless_text {
  padding-top: 150px;
}
.performance_image {
  width: 400px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.film_image {
    width: 400px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.film_text {
  padding-top: 150px;
}
.performance_text {
  padding-top: 100px;
}

#harmless-bro {
    padding-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#opener {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: auto;
  z-index: -100;
}

#work-intro {
  font-family: 'Poiret One', cursive;
}

#open-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 100%;

}
#splash {
  background-color: black;
}
#home-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  height: auto;
}
